<div class="about">
    <div class="about__container">
        <h3 class="about__title">Sobre a Estilo Feitiço</h3>
        <p>A história da FEITIÇO é fruto da visão empreendedora de um jovem casal e a dedicação criativa de uma
            mulher que, além de arquiteta dedicou-se intensamente ao trabalho na área de moda. Hoje a marca possui
            produção 100% cearense, valorizando assim a mão de obra regional e incentivando o crescimento do estado.</p>
            
        <p>Mais do que produzir roupas, a FEITIÇO pretende produzir emoções através da visão de moda para toda a família.
            Criada para atender o dia a dia dos homens e mulheres com necessidades e desejos distintos, a marca dispõe de
            um amplo mix de produtos, produzidos com matéria-prima diferenciada, criando nos consumidores a emoção de
            vestir-se e sentir-se bem.</p>
            
        <h4 class="about__title about__title--h4">Visão:</h4>
            
        <p>Ser a marca casual chic voltada para a família moderna.</p>
            
        <h4 class="about__title about__title--h4">Missão:</h4>
            
        <p>Proporcionar aos nossos clientes o bem estar, através de produtos com qualidade absoluta e originalidade.</p>
            
        <h4 class="about__title about__title--h4">Valores:</h4>

        <p>Seriedade, Profissionalismo, Elegância e Honestidade.</p>
    </div>
</div>