<div class="instagram">
    <div class="instagram__container">
        <div class="intagram__header">
            <img src="@img(instagram)" alt="Instagram" title="Instagram" />
            <a href="#" class="instagram__link">@estilofeitico</a>
            <div class="instagram__description">Siga nosso instagram</div>
        </div>
        <div class="instagram__main">
            <a href="#"><img src="https://fakeimg.pl/288/" /></a>
            <a href="#"><img src="https://fakeimg.pl/288/" /></a>
            <a href="#"><img src="https://fakeimg.pl/288/" /></a>
            <a href="#"><img src="https://fakeimg.pl/288/" /></a>
            <a href="#"><img src="https://fakeimg.pl/288/" /></a>
        </div>
    </div>
</div>