.about
    background: url(about)
    background-size: cover
    font-size: 13px
    font-weight: regular
    color: #fff
    padding: 90px 0
    margin-top: -16px

    &__title
        font-size: 20px
        font-weight: bold
        margin-bottom: 30px

        &--h4
            font-size: 13px
            margin-bottom: 0

    &__container
        @extend $container

        p
            padding: 10px 0
            max-width: 680px
