@media (max-width: 992px)
    .categories
        &__show
            order: -1
            background: #fff
            color: color1_bg

        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                min-height: 48px
                justify-content: flex-start
                align-items: center

            &:after
                icon('\f054')
                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                font-size: 20px
                background: rgba(255, 255, 255, 0.1)
                transition: all 0.2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0

@media (min-width: 993px)
    .categories
        background: none
        flex: 1
        min-width: 0
        margin-bottom: 0 !important
        margin-left: 25px

        &__all
            display: none

        .ul--0
            justify-content: space-between

        .li--0
            flex: 0 0 auto

            &:hover
                .a--0
                    background: #fff
                    color: color1_bg

                    &:after
                        opacity: 1

        .a--0
            font-size: 14px
            font-weight: bold
            text-transform: uppercase
            color: color1_bg
            line-height: 1
            padding: (gap / 2)
            position: relative

            &:after
                content: ''
                position: absolute
                left: 10px
                right: 10px
                bottom: 10px
                height: 2px
                background: color1_bg
                transition: all 0.2s ease
                opacity: 0

        .box--1
            box-shadow: none

        .a--1
            font-size: 13px
            font-weight: regular

        .categories__products, .categories__block
            border: 0
            text-align: center

            .title, .product-rate
                display: none
