.footer
    text-align: center

    .flex--a-center
        justify-content: center

    .pays
        &__svg
            height: 18px

    .socials
        padding-top: 0

    .mymenu .a--0
        font-size: 14px
        font-weight: regular
        color: color1_bg

    &__box
        padding-bottom: 30px

    &-container
        background: url(bg) repeat
        padding-top: 250px
        margin-top: -230px

    &__title
        font-size: 16px
        font-weight: bold
        padding-bottom: 15px

    &__copyright
        font-size: 12px
        font-weight: regular
        text-align: center
        padding: 20px 0
        flex: 0 0 100%

@media (min-width: 993px)
    .footer
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        align-items: flex-start
        text-align: left

        .flex--a-center
            justify-content: flex-start
