.instagram
    position: relative
    z-index: 40
    text-align: center
    margin-top: 40px

    &__link
        display: block
        font-size: 22px
        font-weight: bold
        padding: 15px 0 5px

    &__description
        font-size: 16px
        font-weight: regular

    &__main
        padding-top: 25px
        display: flex
        justify-content: center
        align-items: center
        margin-top: 80px
        overflow: hidden

        a
            position: relative
            display: flex
            justify-content: center
            align-items: center
            flex: 0 0 288px

            &:nth-child(odd)
                margin-top: -80px

            &:nth-child(3)
                z-index: 2

        img
            display: block
            max-width: none
            min-width: 110%
            height: 100%
            object-fit: cover